<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-hover">
      <!-- This is a table row with headers -->
      <tr>
        <th> </th>
        <th>  </th>
        <th>Actions</th>
      </tr>

      <%@songs.each do |song| %>
      <tr>
        <td>  <%=song.title %> </td>
        <td>  </td>
        <td>
          <%=link_to 'Show', song_path(song), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_song_path(song), class: 'btn btn-success btn-xs' %>
          <%= link_to 'Delete', song, method: :delete, data: {confirm: "You sure homey?"}, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

<div class="well">
  <%= link_to "Add New Song", new_song_path, class: 'btn btn-lg btn-default'%>
</div>

</div>
